html {
  font-family: "pt serif pro", serif;
  font-weight: 300;
}

.masthead {
  background-color: #cdd;
}

.nav-links {
  color: #000;
  text-decoration: none;
}

.nav-links:hover {
  background-color: #900;
  color: #fff;
}

h1,
.sans-font {
  font-family: "henderson sans", sans-serif;
}

.banner-content {
  color: #900;
  text-shadow: 0 0 3px #fff;
}

.push-11-2 {
  margin-bottom: 1.95rem;
}

.hover-box {
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 2px 2px 6px #999;
}

.hover-box-caption {
  color: #000;
}

.hover-box:hover .hover-box-caption {
  color: #900;
  text-decoration: underline;
}

.hover-box-img {
  transition: all .2s linear;
}

.hover-box:hover .hover-box-img,
.hover-box:focus .hover-box-img {
  transform: scale(1.1);
}

.view-more-btn {
  color: #000;
  background-color: #cdd;
  border: 3px solid #cdd;
}

.view-more-btn:hover {
  color: #fff;
  background-color: #900;
  border: 3px solid #900;
}

.footer {
  color: #000;
  background-color: #cdd;
}

svg {
  color: #000;
}

svg:hover {
  color: #900;
}


.foot-nav {
  color: #000;
  text-decoration: none;
}

.foot-nav:hover {
  color: #900;
  text-decoration: underline;
}

.foot-nav-current {
  color: #900;
  text-decoration: underline;
}

@media only screen and (min-width: 38em) {

  .banner-content {
    z-index: 100;
    position: absolute;
    top: 10%;
    left: 5%;
  }

  .text-cols {
    column-count: 2;
    column-gap: 25px;
    column-width: 100px;
  }

  .text-span {
    column-span: all;
  }

}

@media only screen and (min-width: 90em) {

  .text-cols {
    column-count: 3;
    column-gap: 25px;
    column-width: 100px;
  }

  .text-span {
    column-span: all;
  }

}
