html {
  font-family: "pt serif pro", serif;
  font-weight: 300;
}

.masthead {
  background-color: #cdd;
}

.toggle-nav {
  background-color: #cdd;
  display: none;
}

.nav-links {
  text-decoration: none;
  color: #000;
}

.nav-links:hover {
  background-color: #900;
  color: #fff;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .toggle-nav {
  display: block;
}

.nav-label {
  cursor: pointer;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

h1,
.sans-font {
  font-family: "henderson sans", sans-serif;
  line-height: inherit;
}

.banner-content {
  color: #900;
  text-shadow: 0 0 3px #fff;
}

.push-11-2 {
  margin-bottom: 1.95rem;
}

.hover-box {
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 2px 2px 6px #999;
}

.hover-box-caption {
  color: #000;
}

.hover-box:hover .hover-box-caption {
  color: #900;
  text-decoration: underline;
}

.hover-box-img {
  transition: all .2s linear;
}

.hover-box:hover .hover-box-img,
.hover-box:focus .hover-box-img {
  transform: scale(1.1);
}

.view-more-btn {
  color: #000;
  background-color: #cdd;
  border: 3px solid #cdd;
}

.view-more-btn:hover {
  color: #fff;
  background-color: #900;
  border: 3px solid #900;
}

.content-width {
  max-width: 38em;
}

.sm-titles {
  padding: 0;
}

td {
  border-bottom: none;
}

.col-width {
  width: 75px;
}

.col-height {
  height: 2.1em;
}

.line-length {
  max-width: 275px;
}

.notes {
  max-width: 370px;
  background-color: #f6f6f6;
}

.footer {
  color: #000;
  background-color: #cdd;
}

svg {
  color: #000;
}

svg:hover {
  color: #900;
}


.foot-nav {
  color: #000;
  text-decoration: none;
}

.foot-nav:hover {
  color: #900;
  text-decoration: underline;
}

.foot-nav-current {
  color: #900;
  text-decoration: underline;
}

@media only screen and (min-width: 38em) {

  .banner-content {
    z-index: 100;
    position: absolute;
    top: 10%;
    left: 5%;
  }

  .text-cols {
    column-count: 2;
    column-gap: 25px;
    column-width: 100px;
  }

  .text-span {
    column-span: all;
  }

}

@media only screen and (min-width: 60em) {

  .text-cols {
    column-count: 3;
    column-gap: 25px;
    column-width: 100px;
  }

  .text-span {
    column-span: all;
  }

}
